.o-container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}
.o-grid-wrapper {
    lost-utility: clearfix;
}
.o-grid-sidebar {
    lost-column: 1/4;
}
.o-grid-page {
    lost-column: 3/4;
}

@media (--medium-screen) {
    .o-grid-sidebar {
        width: 100%;
    }
    .o-grid-page {
        width: 100%;
    }
}