.c-docs-article {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.2em;

  &:last-child {
    border-bottom: none;
  }
}
.back-to-top {
  display: inline-block;
  padding: 6px 8px;
  border: 1px solid var(--border-color);
  margin-bottom: 1.5em;
}
.back-to-top:last-child {
  margin-bottom: none;
}
.highlighter-rouge {
  padding: 2px 6px;
  border-radius: 2px;
}
.hljs {
  padding-left: 1.5em!important;
  margin-bottom: 1.5em;  
}
.c-img-center {
  display: block;
  margin: 0 auto;
}
